<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Performance Predictor</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="icon" href="{{url_for('static', filename='images/icon.png')}}">
</head>
<body>
    <header class="header">
        <h1>Student Performance Predictor</h1>
    </header>
    {% block main_component %}
    {% endblock main_component %}
</body>
</html>